main {
  margin-left: 15%;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  border: 2px solid grey;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}

#title {
  text-align: center;
  padding-bottom: 50px;
}

#homepagecontent {
  width: 50%;
  float: left;
  padding-top: 50px;
  padding-left: 20px;
  text-align: center;

}

#articles1 {
  width: 40%;
  float: right;
  padding-top: 50px;
  padding-right: 20px;
}

#articles2 {
  width: 60%;
  float: right;
  padding-top: 50px;
  padding-left: 20px;
}
#articles3 {
  width: 40%;
  padding-top: 50px;
  padding-left: 20px;
  float: left;

}

#articlescontent {
  width: 30%;
  float: left;
  padding-top: 80px;
  padding-left: 50px;
  text-align: center;

}

.typewriter h1 {
  color: black;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.planet{
 width:300px;
 height:300px;
 position:absolute;
 border-radius:50%;
 overflow:hidden;
 box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
 left:50%;
 top:50%;
 margin:-150px;
}
.planet .mask{
 width:100%;
 height:100%;
 position: absolute;
 box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
 border-radius:50%;
}
.planet .background{
 animation: translateBackground 40s infinite linear;
 background-color: grey;
 width:300px;
 height:300px;
 position:absolute;
 border-radius:50%;
}
.planet .clouds{
 background:url(http://artem.anmedio.ru/dev/planet/clouds.png) repeat-x;
 width:300px;
 height:300px;
 position:absolute;
 border-radius:50%;
 animation: translateBackground 30s infinite linear;
 opacity: 0.4;
}
.planet .wrap{
 width:300px;
 height:300px;
 position:absolute;
 border-radius:50%;
 animation: rotatePlanet 150s infinite linear;
}
@keyframes translateBackground{
 0%{
   background-position-x:0;
 }
 100%{
   background-position-x:-600px;
 }
}
@keyframes rotatePlanet{
 0%{
   transform:rotateZ(0);
 }
 100%{
   transform:rotateZ(-360deg);
 }
}

#stars {
  background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
height: 2200px;
width: 100%;
}
#globaltitle {
  color: orange;
font-size: 70px;
padding-top: 35px;
padding-right: 100px;
transform: rotate(-25deg);

}

#context {
  float: right;
  color: orange;
  margin-top: 150px;
  font-size: 30px;
  width: 400px;
  padding-right: 40px;
  text-align: center;
}

#image1 {

  padding-top: 0px;
  transition: padding 2s;

}
#image1:hover {
  padding-top: 100px;
}

#defectives-background {
  background:
linear-gradient(135deg, 	#006400 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, 	#006400 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:	#228B22;
background-size: 64px 128px;
}

#globalgamesarticle1 {
  padding-top: 700px;
  color: orange;
  font-size: 30px;
  width: 500px;
  padding-left: 20px;
  text-align: center;
}
#globalgamesarticle3 {
  color: orange;
  font-size: 30px;
  width: 500px;
  padding-left: 400px;
  text-align: center;
}
#globalgamesarticle2 {
  color: orange;
  font-size: 30px;
  width: 500px;
  float: right;
  padding-left: 400px;
  text-align: center;
}
#globalgamesarticle {
  color: orange;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

#DropIn {
  overflow: hidden;

}

#dropintitle {
  text-align: left;
  font-size: 100px;
  background-color: #F0F0F0;
}

#dropincontent {
  text-align: center;
  float: left;
  font-size: 30px;
  width: 60%;
  background-color: #F0F0F0;
  padding: 50px;

}

#laptop {
  height: 750px;
  width: 750px;
  padding-top: 20px;
  top: 0;
  float: right;
  position:sticky;
  transform: rotate(-40deg);
}

#fair {
  height: 350px;
  width: 400px;
  padding-left: 800px;
  position:absolute;
}

#fairtitle {
  text-align: center;
  font-size: 80px;
  width: 60%;
  padding: 20px;
  background-color: white;
}

#careerfair {
  text-align: center;
  float: left;
  font-size: 28px;
  width: 70%;
  padding: 50px;

}

#careerfairlist {
  text-align: center;
  float: right;
  font-size: 25px;
  width: 384px;
  height: 365px;
  padding: 25px;
  background-color: #F0F0F0;
}

#careerfairtips {
  text-align: center;
  float: left;
  font-size: 25px;
  width: 60%;
  padding: 25px;
  background-color: #F0F0F0;

}

#join {
  height: 600px;
  width: 1100px;
  padding-left: 50px;
}

#jungle {
  width: 1226px;
  height: 800px;
  position: absolute;
  z-index: -1;
}


#defectivestitle {
  position: absolute;
  top: 130px;
  left: 140px;
  font-size: 80px;
  color: white;
  transform: rotate(-90deg);
}

#defectives1 {
  position: absolute;
  top: 230px;
  left: 195px;
  color: white;
  font-size: 20px;
  width: 500px;
  text-align: center;
  transform: rotate(-90deg);
}
#defectives2 {
  position: absolute;
  top: 230px;
  left: 330px;
  color: white;
  font-size: 30px;
  transform: rotate(-90deg);
}
#defectives3 {
  position: absolute;
  top: 580px;
  left: 250px;
  color: white;
  width: 680px;
  font-size: 20px;
  text-align: center;
  transform: rotate(-20deg);
}
#defectives4 {
  position: absolute;
  top: 620px;
  left: 550px;
  color: white;
  width: 420px;
  font-size: 20px;
  text-align: center;
  transform: rotate(-20deg);
}

#defectives5 {
  position: absolute;
  top: 150px;
  left: 980px;
  font-size: 35px;
  color: white;
  width: 625px;
  transform: rotate(-92deg);
  opacity: 0;
	transition-property: opacity;
}


/* to */
#defectives5:hover {
	opacity: 1;
}

#defectives6 {
  position: absolute;
  top: 690px;
  left: 750px;
  color: white;
  width: 250px;
  font-size: 20px;
  text-align: center;
  transform: rotate(-20deg);
}

#defectives7 {
  position: absolute;
  top: 200px;
  left: 880px;
  font-size: 25px;
  color: white;
  width: 625px;
  transform: rotate(-90deg);
}

#lecturetalk {
  height: 450px;
  width: 550px;
  float: left;
  top: 0;
  position:absolute;
}

#talktitle {
  text-align: left;
  padding-left: 620px;
  font-size: 100px;
  padding-top: 141px;
  border-bottom: 3px solid 		#383838;
}

#talkcontent {
  text-align: left;
  font-size: 20px;
  padding: 75px;
  width: 30%;

}

#crowd {
  width: 1220px;
}

#guesttable {
  width: 100%;

}

#guestfooter {
  text-align: center;

}

#guestcontent {
  text-align: center;
  font-size: 25px;
  width: 80%;
  padding: 120px;

}

#logo {
  width: 170px;
  height: 120px;
  padding:25px;
}

#articleicon {
  width: 100px;
  height: 200px;
}

#contactform  {
  text-align: center;
  font-size: 20px;
  padding: 21px;
  background-color: #F0F0F0;
  float: right;
  width: 40%;
}

#contactcontent {
  text-align: center;
  float: left;
  font-size: 20px;
  width: 50%;
  padding: 40px;
  padding-top: 50px;
  background-color: #F0F0F0;

}

#contactimage {
    width: 30%;
    padding-left: 180px;
    padding-top: 50px;

}
